.navMobil-wrapper {
  height: 5%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
}
.navMobil-k {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
}
.navMobil-k > div > img {
  height: 15px;
  width: 15px;
}
.navMobil-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
}
.navMobil-menu > div > img {
  height: 15px;
  width: 15px;
}
@media (min-width: 768px) {
  .navMobil-wrapper {
    display: none;
  }
}
