.header-wrapper {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #36454f;
  border-bottom: solid 2px #ffbdbd;
  padding: 0 10% 0 10%;
  margin: 0 0 5% 0;
}
.header-wrapper > div {
  margin: 0 2% 0 2%;
}
.header-wrapper > div > span {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s;
}
.header-wrapper > div > span:hover {
  color: #ffbdbd;
}
