.card-container {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 15px 0;
}
.card-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}
.card-container:hover .card-img {
  opacity: 0.2;
}
.card-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.card-title {
  text-align: center;
}
.card-spec {
  text-align: center;
}
.card-container:hover .card-text {
  opacity: 1;
}
.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 34px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.card-button:hover {
  background-color: #ffbdbd;
  color: #36454f;
}
@media (min-width: 768px) {
  .card-container {
    width: 48%;
    margin: 15px 5px;
  }
  .card-button {
    width: 170px;
    height: 44px;
  }
}
