.footer-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ffbdbd;
  height: 150px;
}
.footer-icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px 0 15px 0;
}
.footer-text {
  margin: 0 0 15px 0;
}
.footer-text > span > span {
  color: #ffbdbd;
}
@media (min-width: 768px) {
  .footer-wrapper {
    height: 170px;
  }
}
