.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #36454f;
}
.contact-title {
  font-size: 1.8rem;
  border-bottom: 2px solid #fbf7f5;
  margin: 5% 0 5% 0;
}
.contact-question {
  margin: 0 0 5% 0;
  font-size: 1.5rem;
}
