.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.contact-wrapper > div {
  width: 90%;
  max-width: 450px;
}
.contact-title {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
}
.contact-title > div {
  border-bottom: 2px solid #fbf7f5;
}
.contact-question {
  text-align: center;
  margin: 0 0 50px 0;
}
#contact1 {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -webkit-timing-function: linear;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: linear;
}
#contact1-false {
  opacity: 0;
}
#contact2 {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-timing-function: ease-in;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}
#contact2-false {
  opacity: 0;
}
#contact3 {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-timing-function: ease-in;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
#contact3-false {
  opacity: 0;
}
#contact4 {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2.5s;
  -webkit-timing-function: ease-in;
  animation-name: fadeIn;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
}
#contact4-false {
  opacity: 0;
}
#contact5 {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  -webkit-timing-function: ease-in;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}
#contact5-false {
  opacity: 0;
}
#contact6 {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 3.5s;
  -webkit-timing-function: ease-in;
  animation-name: fadeIn;
  animation-duration: 3.5s;
  animation-timing-function: ease-in;
}
#contact6-false {
  opacity: 0;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .contact-title {
    margin: 0 0 50px 0;
  }
  .contact-wrapper > div {
    width: 100%;
    margin: 0 5% 0 15%;
    max-width: 615px;
  }
}
@media (min-width: 1024px) {
  .contact-wrapper > div {
    margin: 0 10% 0 20%;
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .contact-wrapper > div {
    max-width: 800px;
  }
}
