.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.home-wrapper > div > span > span {
  color: #ffbdbd;
}
@media (min-width: 768px) {
  .home-wrapper {
    align-items: flex-start;
  }
  .home-wrapper > div {
    width: 100%;
    margin: 15% 5% 0 15%;
  }
  .home-wrapper > div > span > span {
    color: #ffbdbd;
  }
}
@media (min-width: 1024px) {
  .home-wrapper > div {
    margin: 15% 10% 0 20%;
  }
}
