.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #36454f;
}
.home-wrapper > div {
  margin: 0 0 20px 0;
}
.home-wrapper > div > div > span > span {
  color: #ffbdbd;
}
