.home-button {
  width: 150px;
  height: 34px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #fbf7f5;
  cursor: pointer;
  transition: all 0.5s;
}
.home-button:hover {
  background-color: #ffbdbd;
  border: 1px solid #ffbdbd;
  color: #36454f;
}
.home-button > div > img {
  height: 10px;
  width: 10px;
}
@media (min-width: 768px) {
  .home-button {
    width: 170px;
    height: 44px;
  }
  .home-button > div > img {
    height: 13px;
    width: 13px;
  }
}
@media (min-width: 1200px) {
  .home-button {
    width: 190px;
  }
  .home-button > div > img {
    height: 15px;
    width: 15px;
  }
}
