.forms-wrapper {
  width: 100%;
  height: auto;
}
.forms-wrapper > div {
  margin: 0 0 10px 0;
}
.forms-wrapper > div > input {
  width: 100%;
  padding: 1%;
  outline: none;
  color: #232b2b;
  font-family: Bahnschrift;
  border: 1px solid #ffbdbd;
  box-sizing: border-box;
  font-size: 0.8rem;
}
.forms-wrapper > div > textarea {
  width: 100%;
  min-height: 150px;
  padding: 1%;
  outline: none;
  color: #232b2b;
  font-family: Bahnschrift;
  border: 1px solid #ffbdbd;
  box-sizing: border-box;
  font-size: 0.8rem;
}
.form-submit {
  display: flex;
  justify-content: flex-end;
}
.form-submit > div > input {
  width: 150px;
  height: 34px;
  outline: none;
  cursor: pointer;
  font-family: Bahnschrift;
  color: #ffbdbd;
  background-color: #232b2b;
  border: 1px solid #ffbdbd;
  transition: all 0.5s;
  font-size: 1rem;
}
.message-wrapper {
  display: flex;
  align-items: center;
  margin: 0 5% 0 5%;
}
@media (min-width: 768px) {
  .forms-wrapper > div > input {
    font-size: 1rem;
  }
  .forms-wrapper > div > textarea {
    font-size: 1rem;
  }
  .form-submit > div > input {
    font-size: 1.2rem;
  }
}
