.profil-wrapper {
  margin: 0 3% 10% 3%;
  height: auto;
}
/* nindo */
.nindo-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 10% 0;
}
/* CONTENT */
.profil-content {
  display: flex;
  flex-direction: column;
}
.profil-content-block1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profil-content-block1 > div {
  text-align: center;
}
.profil-content-block1 > div > img {
  width: 150px;
  height: 150px;
  margin: 0 0 10% 0;
}
.profil-content-block1 > div > div {
  margin: 0 0 5% 0;
}
.profil-content-block1 > div > div > span {
  font-size: 1.2rem;
  color: #36454f;
}
.profil-content-block1 > div > div > p {
  font-size: 0.8rem;
  color: #36454f;
  margin: 0 0 5% 0;
}
.profil-content-block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 480px) {
  .profil-wrapper {
    margin: 0 5% 10% 5%;
  }
}
@media (min-width: 768px) {
  .profil-wrapper {
    margin: 0 3% 5% 3%;
  }
  .profil-content-block1 > div > img {
    width: 200px;
    height: 200px;
  }
  .profil-content-block1 > div > div > span {
    font-size: 1.5rem;
  }
  .profil-content-block1 > div > div > p {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .profil-wrapper {
    margin: 0 5% 5% 5%;
  }
  .nindo-content {
    margin: 0 0 5% 0;
  }
  .profil-content {
    display: flex;
    flex-direction: row;
  }
  .profil-content > div {
    margin: 0 1%;
  }
  .profil-content-block1 {
    flex: 1;
  }
  .profil-content-block2 {
    flex: 1;
  }
}
@media (min-width: 1200px) {
  .nindo-content {
    margin: 0 0 10% 0;
  }
}
