.profil-wrapper {
  margin: 0 5% 20px 5%;
  height: auto;
}
/* nindo */
.nindo-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}
/* CONTENT */
.profil-content {
  display: flex;
  flex-direction: column;
}
.profil-content-block1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 20px 0;
}
.profil-content-block1 > div {
  text-align: center;
}
.profil-content-block1 > div > img {
  width: 150px;
  height: 150px;
  margin: 0 0 10px 0;
}
.profil-content-block1 > div > div {
  margin: 0 0 15px 0;
}
.profil-content-block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .nindo-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 40px 0;
  }
  .profil-content-block1 {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 1024px) {
  .profil-content {
    display: flex;
    flex-direction: row;
    margin: 0 0 40px 0;
  }
  .profil-content-block1 {
    flex: 1;
    margin: 0;
  }
  .profil-content-block2 {
    flex: 1;
    align-items: flex-end;
  }
}
@media (min-width: 1200px) {
  .profil-wrapper {
    margin: 0 10% 20px 10%;
  }
  .profil-content {
    margin: 0 0 60px 0;
  }
  .nindo-content {
    margin: 0 0 60px 0;
  }
  .profil-content-block1 > div > img {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1800px) {
  .profil-wrapper {
    margin: 0 15% 60px 15%;
  }
}
