.nindo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 45%;
  margin: 15px 0;
}
.nindo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0 5px 0;
}
.nindo-img > img {
  width: 50%;
  height: 50%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.nindo-title {
  margin: 0 0 5px 0;
}
@media (min-width: 768px) {
  .nindo-img {
    width: 75px;
    height: 75px;
  }
}
@media (min-width: 1024px) {
  .nindo-wrapper {
    width: 20%;
    margin: 0;
  }
  .nindo-img {
    width: 100px;
    height: 100px;
    margin: 0 0 10px 0;
  }
  .nindo-title {
    margin: 0 0 10px 0;
  }
}
