.project-wrapper {
  margin: 0 5% 20px 5%;
}
.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .project-wrapper {
    height: 750px;
  }
  .project-card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .project-wrapper {
    margin: 0 15% 20px 15%;
  }
}
@media (min-width: 1200px) {
  .project-wrapper {
    margin: 0 20% 20px 20%;
  }
}
@media (min-width: 1800px) {
  .project-wrapper {
    margin: 0 25% 60px 25%;
    height: 850px;
  }
}
