.buttonToTop-wrapper {
  position: absolute;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
}
.buttonToTop-wrapper > img {
  width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .buttonToTop-wrapper {
    top: -25px;
    width: 50px;
    height: 50px;
  }
  .buttonToTop-wrapper > img {
    width: 25px;
    height: 25px;
  }
}
