/* reset */
* {
  margin: 0;
  padding: 0;
}

/* Global Rules */
body {
  background-color: #181818;
  font-family: Bahnschrift;
  color: #fbf7f5;
}

/* COLOR */
.pink {
  color: #ffbdbd;
}
.white {
  color: #fbf7f5;
}
.black {
  color: #232b2b;
}

/* BACKGROUND COLOR*/
.bg-black {
  background-color: #0e1111;
}
.bg-medium-black {
  background-color: #181818;
}
.bg-light-black {
  background-color: #353839;
}
.bg-white {
  background-color: #fbf7f5;
}
.bg-pink {
  background-color: #ffbdbd;
}
/* FONT SIZE */
.fs-title {
  font-size: 1.2rem;
  font-weight: bolder;
}
.fs-subtitle {
  font-size: 1rem;
  font-weight: bolder;
}
.fs-button {
  font-size: 1rem;
  font-weight: bolder;
}
.fs-text {
  font-size: 0.8rem;
}
.fs-menu {
  font-size: 0.7rem;
  font-weight: bolder;
}
@media (min-width: 768px) {
  .fs-title {
    font-size: 2rem;
  }
  .fs-subtitle {
    font-size: 1.5rem;
  }
  .fs-button {
    font-size: 1.2rem;
  }
  .fs-text {
    font-size: 1rem;
  }
  /* Animation title */
  #slide-false {
    opacity: 0;
  }
  #slide-right {
    animation: slide-right 1s ease-in-out;
    -webkit-animation: slide-right 1s ease-in-out;
  }
  @keyframes slide-right {
    0% {
      transform: translateX(1000px);
    }
  }
  /* Animation Content */
  #slide-left {
    animation: slide-left 1s ease-in-out;
  }
  @keyframes slide-left {
    0% {
      transform: translateX(-1000px);
    }
  }
  #slide-bottom {
    animation: slide-bottom 1s ease-in-out;
  }
  @keyframes slide-bottom {
    0% {
      transform: translateY(500px);
    }
  }
}
@media (min-width: 1200px) {
  .fs-title {
    font-size: 2.5rem;
  }
  .fs-subtitle {
    font-size: 1.8rem;
  }
  .fs-button {
    font-size: 1.2rem;
  }
  .fs-text {
    font-size: 1.2rem;
  }
  .fs-menu {
    font-size: 1rem;
  }
}
