.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbdbd;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 3% 1% 1% 1%;
}
.footer-icon > img {
  width: 25px;
  height: 25px;
}
