.social-media-icon {
  cursor: pointer;
  margin: 0 0 20px 0;
}
.social-media-icon > img {
  width: 20px;
  height: 20px;
}
@media (min-width: 1024px) {
  .social-media-icon > img {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 1200px) {
  .social-media-icon {
    margin: 0 0 25px 0;
  }
}
